/*globala*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    color: #E75A76;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #E75A76;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: #2C363F;
}

h4 {
    font-size: 26px;
    font-weight: bold;
    color: #2C363F;
}

h5 {
    font-size: 23px;
    font-weight: bold;
    color: #2C363F;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    color: #2C363F;
}

p {
    font-size: 18px;
    color: #2C363F;
}

header {
    grid-column: 1 / 4;
    height: 100px;
    background-color: #BBC7A4;
    box-shadow: 0 0 10px black;
    z-index: 10;
}

header img {
    max-width: 175px;
    max-height: 70px;
    position: relative;
    left: 2%;
    top: 15%;
}


/*hamburgemenyn för skärmar 992pixlar och mindre*/
@media (max-width: 992px) {

    .nav_bigscreen {
        display: none;
    }

    .drop_menu {
        background-color: #BBC7A4;
        box-shadow: 0 0 10px;
        width: 60%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 10px;
        display: none;
        /* denna togglas mellan block och none för att visa och gömma menyn*/
    }

    .drop_menu ul {
        position: relative;
        top: 60px;
        width: 90%;
        text-align: center;
        list-style-type: none;
    }

    .drop_menu ul li {
        padding: 5%;
        width: 90%;
        cursor: pointer;
    }

    .drop_menu ul li:hover {
        background-color: #858f74;
    }

    .drop_menu ul li a {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }

    /*Meny-knappen för att öppna dropdown menyn*/
    .menu_button {
        background-color: #BBC7A4;
        position: absolute;
        right: 0;
        top: 0;
        align-items: center;
        padding: 10px 16px;
        margin: 2%;
        cursor: pointer;
        display: flex;
        /*flexibel display för att öppna och stänga meny*/
    }

    .menu_button:hover {
        background-color: #858f74;
    }

    .menu_icon {
        margin-right: 10px;
    }

    /*hamburgemenyn*/
    .bars {
        width: 20px;
        height: 3px;
        display: block;
        background-color: black;
        margin: 5px 0;
    }

    .menu_text {
        color: black;
        font-size: 20px;
    }

    /*stänga meny-knappen*/
    .close {
        margin: 2% 2%;
        position: relative;
        left: 5%;
        top: 1%;
    }

    .crossing1 {
        transform: rotate(45deg);
        position: relative;
        top: 5px;
        width: 25px;
    }

    .crossing2 {
        transform: rotate(135deg);
        position: relative;
        top: -3px;
        width: 25px;
    }
}

/*navigeringsmeny för skärmar över 993px*/
@media (min-width:993px) {

    .drop_menu {
        display: none;
    }

    .menu_button {
        display: none;
    }

    header .nav_bigscreen {
        display: block;
        float: right;
        position: relative;
        top: 35%;
    }

    header .nav_bigscreen ul li {
        list-style: none;
        float: left;
        position: relative;
        right: 20%;
    }

    header .nav_bigscreen ul li:hover {
        background-color: #858f74;
    }

    header .nav_bigscreen ul li a {
        text-decoration: none;
        color: black;
        padding: 0 20px 0 20px;
        font-size: 20px;
        cursor: pointer;
    }
}

/*layout för datorskärmar från 993 pixlar och uppåt*/
@media (min-width: 993px) {

    .hero {
        grid-column: 1 / 4;
        max-height: 685px;
    }

    .hero img {
        width: 100%;
        height: 100%;
    }

    /*startsidan 993px till 1920px*/

    .main_index {
        width: 100%;
        max-width: 1920px;
        margin: auto;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-auto-rows: auto;
    }
    /*friläggningarna/produkterna*/
    .prod_h1 {
        grid-column: 1 / 4;
        margin: auto;
        padding: 5% 0 5% 0;
    }

    .prod_1 {
        grid-column: 1 / 2;
        width: 100%;
        padding-bottom: 80px;
    }

    .prod_1 img {
        float: right;
    }

    .prod_2 {
        grid-column: 2 / 3;
        margin: auto;
        padding-bottom: 80px;
    }

    .prod_3 {
        grid-column: 3 / 4;
        width: 100%;
        padding-bottom: 80px;
    }

    .prod_3 img {
        float: left;
    }
    /*baskgrundsbilden med grön bakgrund*/
    .background {
        grid-column: 1 / 4;
        background-image: url("../pics/background.jpg");
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
        min-height: 40vh;
        text-align: center;
        width: 100%;
    }

    .background h2 {
        color: white;
        line-height: 2;
        text-align: center;
        padding: 150px 0 30px 0;
        text-shadow: 0px 0px 10px #2C363F;
    }
    /*knappen på bakgrundsbilden*/
    .background button {
        color: white;
        font-size: xx-large;
        box-shadow: 0 2px 10px -3px black;
        border: 4px solid white;
        background: none;
        padding: 15px 30px 15px 30px;
        margin: 0 0 100px 0;
    }

    .background button:hover {
        cursor: pointer;
        background-color: #bbc7a4;
    }
    /*reklambanner*/
    .banner {
        grid-column: 1 / 4;
        width: 50%;
        margin: auto;
    }

    .footer_index {
        grid-column: 1 / 4;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_index p {
        position: relative;
        top: 10px;
    }

    /*om mig-sidan 993px till 1920px*/

    .main_aboutme {
        width: 100%;
        max-width: 1920px;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    .aboutme {
        grid-column: 1 / 3;
        padding: 100px 0;
        margin: auto;
    }

    .aboutme_image {
        grid-column: 1 / 2;
        margin: auto;
    }

    .aboutme_image img {
        border-radius: 300px;
        margin-bottom: 200px;
    }

    .aboutme_text {
        grid-column: 2 / 3;
        margin-bottom: 200px;
    }

    .aboutme_text h2 {
        padding: 10px 0;
        width: 80%;
        text-align: center;
    }

    .aboutme_text p {
        padding: 10px 0;
        width: 80%;
    }

    .footer_aboutme {
        grid-column: 1 / 3;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_aboutme p {
        position: relative;
        top: 10px;
    }


    /*bildbehandling-sidan 993px till 1920px*/
    .main_imageedit {
        width: 100%;
        margin: auto;
        max-width: 1920px;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    .edit_image_h1 {
        grid-column: 1 / 3;
        margin: auto;
        padding: 50px 0 30px 0;
    }

    .edit_image_h2 {
        grid-column: 1 / 3;
        margin: auto;
        padding: 50px 0 50px 0;
    }
    /*redigerade bilder*/
    .fargstic_fore,
    .handkolorering_fore {
        grid-column: 1 / 2;        
    }

    .fargstic_fore img {
        width: 80%;
        max-width: 550px;
        float: right;
        margin-right: 2%;
    }

    .fargstic_efter,
    .handkolorering_efter {
        grid-column: 2 / 3;
    }

    .fargstic_efter img {
        width: 80%;
        max-width: 550px;
        float: left;
        margin-left: 2%;
    }

    .edit_coloring_h2 {
        grid-column: 1 / 3;
        padding: 50px 0;
        margin: auto;
    }

    .handkolorering_fore img {
        width: 80%;
        max-width: 550px;
        float: right;
        margin-right: 2%;
        padding-bottom: 100px;
    }

    .handkolorering_efter img {
        width: 80%;
        max-width: 550px;
        float: left;
        margin-left: 2%;
        padding-bottom: 100px;
    }

    .footer_editimage {
        grid-column: 1 / 3;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_editimage p {
        position: relative;
        top: 10px;
    }
}


/*layout för surfplattor 601 pixlar upp till 992 pixlar*/
@media (min-width: 601px) and (max-width: 992px) {

    .hero {
        grid-column: 1 / 4;
        width: 100%;
        max-height: 685px;
    }

    .hero img {
        width: 100%;
    }

    /*startsidan 601 - 992 pixlar*/
    .main_index {
        max-width: 100%;
        margin: auto;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-auto-rows: auto;
    }

    .prod_h1 {
        grid-column: 1 / 4;
        margin: auto;
        padding: 100px 0 80px 0;
    }

    .prod_1 {
        grid-column: 1 / 2;
        width: 100%;
        padding-bottom: 80px;
    }

    .prod_1 img {
        float: right;
        width: 100%;
    }

    .prod_2 {
        grid-column: 2 / 3;
        margin: auto;
        width: 100%;
        padding-bottom: 80px;
    }

    .prod_2 img {
        width: 100%;
    }

    .prod_3 {
        grid-column: 3 / 4;
        width: 100%;
        padding-bottom: 80px;
    }

    .prod_3 img {
        float: left;
        width: 100%;
    }

    .background {
        grid-column: 1 / 4;
        background-image: url("../pics/background.jpg");
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
        min-height: 40vh;
        text-align: center;
        width: 100%;
    }

    .background h2 {
        color: white;
        line-height: 2;
        text-align: center;
        padding: 150px 0 30px 0;
        text-shadow: 0px 0px 10px #2C363F;
    }

    .background button {
        color: white;
        font-size: xx-large;
        box-shadow: 0 2px 10px -3px black;
        border: 4px solid white;
        background: none;
        padding: 15px 30px 15px 30px;
        margin: 0 0 100px 0;
    }

    .background button:hover {
        cursor: pointer;
        background-color: #bbc7a4;
    }

    .banner {
        grid-column: 1 / 4;
        width: 50%;
        margin: auto;
    }

    .footer_index {
        grid-column: 1 / 4;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_index p {
        position: relative;
        top: 10px;
    }

    /*om mig-sidan 601 - 992 pixlar*/
    .main_aboutme {
        width: 100%;
        max-width: 992px;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .aboutme {
        grid-column: 1 / 2;
        padding: 100px 0;
        margin: auto;
    }

    .aboutme_image {
        grid-column: 1 / 2;
        margin: auto;
    }

    .aboutme_image img {
        border-radius: 300px;
    }

    .aboutme_text {
        grid-column: 1 / 2;
        margin: auto;
        padding-bottom: 200px;
    }

    .aboutme_text h2 {
        padding: 80px 0 30px 0;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .aboutme_text p {
        width: 80%;
        margin: auto;
    }

    .footer_aboutme {
        grid-column: 1 / 2;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_aboutme p {
        position: relative;
        top: 10px;
    }

    /*bildbehandling-sidan 601 - 992 pixlar*/
    .main_imageedit {
        width: 100%;
        max-width: 992px;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .edit_image_h1 {
        grid-column: 1 / 2;
        margin: auto;
        padding: 100px 0 30px 0;
    }

    .edit_image_h2 {
        grid-column: 1 / 2;
        margin: auto;
        padding: 100px 0 40px 0;
    }

    .fargstic_fore,
    .fargstic_efter,
    .handkolorering_fore,
    .handkolorering_efter {
        grid-column: 1 / 2;
        margin: 0 auto;
    }

    .fargstic_fore img,
    .handkolorering_fore img {
        max-width: 550px;
        padding-bottom: 80px;
    }

    .fargstic_efter img {
        max-width: 550px;
    }

    .edit_coloring_h2 {
        grid-column: 1 / 2;
        padding: 100px 0 40px 0;
        margin: auto;
    }

    .handkolorering_efter img {
        max-width: 550px;
        padding-bottom: 150px;
    }

    .footer_editimage {
        grid-column: 1 / 2;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_editimage p {
        position: relative;
        top: 10px;
    }
}

/*layout för mobiltelefoner upp till 600 pixlar*/
@media (max-width: 600px) {

    .hero {
        grid-column: 1 / 2;
        max-height: 585px;
    }

    .hero img {
        width: 100%;
    }

    /*startsidan upp till 600 pixlar*/
    .main_index {
        width: 100%;
        max-width: 600px;
        margin: auto;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .prod_h1 {
        grid-column: 1 / 2;
        margin: auto;
        padding: 100px 0 80px 0;
    }

    .prod_1 {
        grid-column: 1 / 2;
        margin: auto;
        padding-bottom: 80px;
    }

    .prod_2 {
        grid-column: 1 / 2;
        margin: auto;
        padding-bottom: 80px;
    }

    .prod_3 {
        grid-column: 1 / 2;
        margin: auto;
        padding-bottom: 80px;
    }

    .background {
        grid-column: 1 / 2;
        background-image: url("../pics/background.jpg");
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
        min-height: 40vh;
        text-align: center;
        width: 100%;
        height: 400px;
    }

    .background h2 {
        color: white;
        line-height: 2;
        text-align: center;
        padding: 150px 0 30px 0;
        text-shadow: 0px 0px 10px #2C363F;
    }

    .background button {
        color: white;
        font-size: xx-large;
        box-shadow: 0 2px 10px -3px black;
        border: 4px solid white;
        background: none;
        padding: 15px 30px 15px 30px;
        margin: 0 0 100px 0;
    }

    .background button:hover {
        cursor: pointer;
        background-color: #bbc7a4;
    }

    .banner {
        grid-column: 1 / 2;
        width: 90%;
        margin: auto;
    }

    .footer_index {
        grid-column: 1 / 2;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_index p {
        position: relative;
        top: 10px;
    }

    /*om mig-sidan upp till 600 pixlar*/
    .main_aboutme {
        width: 100%;
        max-width: 600px;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .aboutme {
        grid-column: 1 / 2;
        padding: 100px 0;
        margin: auto;
    }

    .aboutme_image {
        grid-column: 1 / 2;
        margin: auto;
    }

    .aboutme_image img {
        border-radius: 300px;
    }

    .aboutme_text {
        grid-column: 1 / 2;
        margin: auto;
        padding-bottom: 200px;
    }

    .aboutme_text h2 {
        padding: 80px 0 30px 0;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .aboutme_text p {
        width: 80%;
        margin: auto;
    }

    .footer_aboutme {
        grid-column: 1 / 2;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_aboutme p {
        position: relative;
        top: 10px;
    }


    /*bildbehandling-sidan upp till 600 pixlar*/

    .main_imageedit {
        width: 100%;
        max-width: 600px;
        background-color: #f2f5ea;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .edit_image_h1,
    .edit_image_h2 {
        grid-column: 1 / 2;
        margin: auto;
        padding: 60px 0 40px 0;
    }

    .fargstic_fore,
    .fargstic_efter {
        grid-column: 1 / 2;
    }

    .fargstic_fore img,
    .fargstic_efter img,
    .handkolorering_fore img {
        width: 80%;
        margin-left: 10%;
        padding-bottom: 20px;
    }

    .edit_coloring_h2 {
        grid-column: 1 / 2;
        padding: 60px 0 40px 0;
        margin: auto;
    }

    .handkolorering_fore,
    .handkolorering_efter {
        grid-column: 1 / 2;
        margin: 0 auto;
    }

    .handkolorering_efter img {
        width: 80%;
        margin-left: 10%;
        padding-bottom: 150px;
    }

    .footer_editimage {
        grid-column: 1 / 2;
        height: 100px;
        background-color: #BBC7A4;
        text-align: center;
    }

    .footer_editimage p {
        position: relative;
        top: 10px;
    }
}